---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="cursos">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"https://portal.andina.pe/EDPfotografia3/Thumbnail/2019/12/31/000642743W.jpg"} alt="banner image" 
                width="1240" height="1385"
                class="w-full absolute bottom-0 max-h-60 object-cover rounded-xl" />
            </div>
        </div>
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                TRANSFERENCIA DE DOCUMENTOS
            </Title>
            <ul class="mt-2 space-y-1 text-heading-3 font-medium">
                <li>
                    <span
                    class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
                    >&checkmark;</span
                    > Normas para la Transferencia de Documentos Archivísticos de las <br> &ensp; &ensp; &ensp; &ensp; Entidades Públicas.
                </li>
                <li>
                    <span
                    class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
                    >&checkmark;</span
                    > Tipos de Transferencia.
                </li>
                <li>
                    <span
                    class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
                    >&checkmark;</span
                    > Condiciones para la Transferencia.
                </li>
                <li>
                    <span
                    class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
                    >&checkmark;</span
                    > Inventario de Transferencia de Documentos.
                </li>
                </ul>
                <Paragraph className="mt-2 lg:pl-24">
                    <strong>DIRECTIVA N° 002-2019-AGN/DDPA</strong>
                </Paragraph>
        
        </div>
    </Container>
</section>