---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
---

<section  id="informacion" class="pb-20">
  <Container>
    <div
      class="w-full relative py-8 md:py-10 px-6 md:px-8 rounded-2xl bg-gradient-to-bl from-gray-100 to-gray-200 dark:from-gray-900"
    >
      <div class="absolute right-0 top-0 h-full w-full flex justify-end">
        <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>

      <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
        <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>
      <div class="mx-auto text-center max-w-xl md:max-w-2xl relative">
        <h1
          class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight
          font-bold text-heading-1"
        >
         II <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">Capacitación</span> Archivística
          <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">Archivo Regional de</span> Puno
        </h1>
        <Paragraph className={"pt-8"}>
          <ul class="space-y-2">
            <li>
              <span class="dark:text-white">
                <strong>INSCRIPCIÓN:</strong> Presencial en la Oficina del Archivo Regional de Puno.
              </span>
            </li>
            <li>
              <span class="dark:text-white">
                <strong>COSTO POR EL CERTIFICADO: </strong>S/. 20 soles.
              </span>
            </li>
            <li>
              <span class="dark:text-white">
                <strong>DIRECCIÓN: </strong>Av. Del Ejercito N° 645 - B - Puno
              </span>
            </li>
            <li>
              <span class="dark:text-white">
                <strong>FECHA DE LA CAPACITACIÓN</strong><p class="font-bold dark:text-yellow-300 bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-yellow-400"> 06 / 12 / 2023</p>
              </span>
            </li>
            <li>
              <span class="dark:text-white">
                <strong>HORA DE LA CAPACITACIÓN</strong><p class="font-bold dark:text-yellow-300 bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-yellow-400"> 08:30 a.m. - 1:00 p.m.</p>
              </span>
            </li>
            <li>
              <p class="font-medium dark:text-emerald-400 bg-clip-text bg-gradient-to-br from-emerald-600 from-20% via-primary via-30% to-emerald-300">Recuerde Realizar el Pago del Certificado en la Oficina del Archivo Regional de Puno, al Momento de Asistir al Evento.</p>
            </li>
          </ul>
        </Paragraph>
        <div class="mx-auto max-w-md sm:max-w-xl pt-10">
          <a href="/pdf/Of.Mult.005-2023Scan.pdf" target="_blank">
          <Button variant={"primary"}>
            <span class="text-white relative z-[5] font-extrabold tracking-widest">DESCARGAR - OFICIO MULTIPLE</span>
          </Button>
          </a>
        </div>
        <div class="mx-auto max-w-md sm:max-w-xl pt-10">
          <a href="https://forms.gle/Eyug8zkh9BhP8Kax8" target="_blank">
          <Button variant={"primary"}>
            <span class="text-white relative z-[5] font-extrabold tracking-widest">REALICE SU INSCRIPCIÓN</span>
          </Button>
          </a>
        </div>
      </div>
    </div>
  </Container>
</section>
